* {
  box-sizing: border-box;
}
html {
  background-color: #1c232a;
}
body {
  max-width: 750px;
  color: #eee;
  margin: 0px auto;
}
#root {
  margin: 16px;
}
.geoPoint {
  background: #24303b;
  margin-top: 16px;
  border: 1px solid #ffffff0f;
  border-radius: 3px;
  box-shadow: 0 2px 3px #00000061;
  padding: 2px 8px 6px;
}
.geo-point-title {
  font-size: 1.5em;
  font-weight: bold;
}
.geo-point-coordinates {
  opacity: .4;
  display: block;
}
.geo-point-distance, .geo-point-bearing {
  display: inline-block;
  margin-right: 16px;
  font-size: 1.3em;
}
.bearing-indicator {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffffa8;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  border-radius: 100px;
  position: relative;
}
.bearing-indicator::after {
  content: "N";
  font-size: 8px;
  position: absolute;
  top: -4px;
  left: calc(50% - 4.5px);
  background: white;
  line-height: 0.8;
  border-radius: 10pc;
  color: #24303b;
  font-weight: bold;
  padding: 1px;
  width: 7px;
  height: 7px;
}
.bearing-arrow {
  /* rotate: 0deg!important; */
  position: absolute;
  width: 2px;
  height: 50%;
  background: red;
  top: 0px;
  left: calc(50% - 1px);
  z-index: 1;
  transform-origin: bottom;
}
#my-location {
  display: flex;
  flex-wrap: wrap;
  padding-left: 8px;
}
.my-coordinates {
  flex-grow: 1;
  font-size: 1.5em;
}
button {
  background: #356796;
  border: 1px solid #ffffff5c;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  padding: 8px;
}
button:hover {
  border-color: #ffffff9e;
}
#new-point {
  padding: 8px;
}
input[type="text"], input[type="number"] {
  background: #ffffff20;
  color: currentColor;
  border: 1px solid rgba(255, 255, 255, 0.305);
}
input[name=new-point-title] {
  width: 100%;
}
.new-point-coordinates {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 8px 0;
}
.new-point-coordinates input {
  flex-grow: 1;
  font-size: 1.3em;
  min-width: 2ch;
}
#new-point button {
  width: 100%;
}